.body {
    font-family: sans-serif;
    justify-content: center;
    background-color: darkblue;
}
.caixa{ 
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.caixa2 {
    height:400px;
    width:500px;
    background-image: url(aurora.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:grayscale(1);
    color:yellow;
    cursor: pointer;
    transition-: ;
}
.caixatxt{
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.caixatxt::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 3px solid yellowgreen;
    opacity:0;
    transition: 0.2s;
}
.caixatxt h1 {
    font-size:40px;
    text-transform:uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition:0.5s;
}
.caixatxt p {
    font: size 0;
    visibility:hidden;
    opacity: 0;
    font-weight:bold;
    text-transform:uppercase;
    transition: 0.5ms;
}
.caixa2:hover {
    filter: unset;
}
.caixa2:hover > .caixatxt::before {
    height: 300px;
    width: 400px;
    opacity: 1;
}
.caixa2:hover > .caixatxt p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}